In [52]:
import pandas as pd

In [53]:
df=pd.read_csv('nba_2013.csv')

In [54]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [55]:
df.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [56]:
df.shape

(481, 31)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [58]:
df.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [59]:
df.dropna(axis=0,inplace=True)

In [60]:
df.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [61]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,599,765,178,63,68,123,147,1603,2013-2014,2013
7,Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,...,192,311,71,24,33,44,126,303,2013-2014,2013

In [62]:
df.set_index('player',inplace=True)

In [63]:
df.head()

,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,4,...,144,216,28,23,26,30,122,171,2013-2014,2013
Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,128,...,230,262,248,35,3,146,136,1330,2013-2014,2013
Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,0,...,183,277,40,23,46,63,187,328,2013-2014,2013
LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,3,...,599,765,178,63,68,123,147,1603,2013-2014,2013
Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,2,...,192,311,71,24,33,44,126,303,2013-2014,2013

In [64]:
df.pos.value_counts()

SG    102
SF     92
PG     81
PF     74
C      53
G       1
Name: pos, dtype: int64

In [65]:
df.drop('bref_team_id',axis=1,inplace=True)

In [66]:
df.head()

,pos,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,SF,23,63,0,847,66,141,0.468,4,15,...,144,216,28,23,26,30,122,171,2013-2014,2013
Arron Afflalo,SG,28,73,73,2552,464,1011,0.459,128,300,...,230,262,248,35,3,146,136,1330,2013-2014,2013
Alexis Ajinca,C,25,56,30,951,136,249,0.546,0,1,...,183,277,40,23,46,63,187,328,2013-2014,2013
LaMarcus Aldridge,PF,28,69,69,2498,652,1423,0.458,3,15,...,599,765,178,63,68,123,147,1603,2013-2014,2013
Lavoy Allen,PF,24,65,2,1072,134,300,0.447,2,13,...,192,311,71,24,33,44,126,303,2013-2014,2013

In [67]:
df.columns

Index(['pos', 'age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa',
       'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season', 'season_end'],
      dtype='object')

In [68]:
df[['x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb']].head()

                       x3p.  x2p  x2pa      x2p.   efg.   ft  fta    ft.  orb
player
Quincy Acy         0.266667   62   126  0.492063  0.482   35   53  0.660   72
Arron Afflalo      0.426667  336   711  0.472574  0.522  274  336  0.815   32
Alexis Ajinca      0.000000  136   248  0.548387  0.546   56   67  0.836   94
LaMarcus Aldridge  0.200000  649  1408  0.460938  0.459  296  360  0.822  166
Lavoy Allen        0.153846  132   287  0.459930  0.450   33   50  0.660  119

In [69]:
dummy_position=pd.get_dummies(df.pos,prefix='pos')

In [70]:
dummy_position.head()

                   pos_C  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
player
Quincy Acy             0      0       0       0       1       0
Arron Afflalo          0      0       0       0       0       1
Alexis Ajinca          1      0       0       0       0       0
LaMarcus Aldridge      0      0       1       0       0       0
Lavoy Allen            0      0       1       0       0       0

In [71]:
df=df.join(dummy_position)

In [72]:
df.head()

,pos,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,...,pf,pts,season,season_end,pos_C,pos_G,pos_PF,pos_PG,pos_SF,pos_SG
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,SF,23,63,0,847,66,141,0.468,4,15,...,122,171,2013-2014,2013,0,0,0,0,1,0
Arron Afflalo,SG,28,73,73,2552,464,1011,0.459,128,300,...,136,1330,2013-2014,2013,0,0,0,0,0,1
Alexis Ajinca,C,25,56,30,951,136,249,0.546,0,1,...,187,328,2013-2014,2013,1,0,0,0,0,0
LaMarcus Aldridge,PF,28,69,69,2498,652,1423,0.458,3,15,...,147,1603,2013-2014,2013,0,0,1,0,0,0
Lavoy Allen,PF,24,65,2,1072,134,300,0.447,2,13,...,126,303,2013-2014,2013,0,0,1,0,0,0

In [73]:
df.drop('pos',axis=1,inplace=True)

In [74]:
df.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,pf,pts,season,season_end,pos_C,pos_G,pos_PF,pos_PG,pos_SF,pos_SG
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,23,63,0,847,66,141,0.468,4,15,0.266667,...,122,171,2013-2014,2013,0,0,0,0,1,0
Arron Afflalo,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,136,1330,2013-2014,2013,0,0,0,0,0,1
Alexis Ajinca,25,56,30,951,136,249,0.546,0,1,0.000000,...,187,328,2013-2014,2013,1,0,0,0,0,0
LaMarcus Aldridge,28,69,69,2498,652,1423,0.458,3,15,0.200000,...,147,1603,2013-2014,2013,0,0,1,0,0,0
Lavoy Allen,24,65,2,1072,134,300,0.447,2,13,0.153846,...,126,303,2013-2014,2013,0,0,1,0,0,0

In [75]:
df.drop(['season'],axis=1,inplace=True)

In [76]:
df.drop(['season_end'],axis=1,inplace=True)

In [77]:
df.columns

Index(['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.',
       'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'pos_C', 'pos_G', 'pos_PF',
       'pos_PG', 'pos_SF', 'pos_SG'],
      dtype='object')

In [78]:
feature_col=['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.',
       'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf','pos_C', 'pos_G', 'pos_PF', 'pos_PG', 'pos_SF', 'pos_SG']
X=df[feature_col].values
y=df.iloc[:,25].values

In [79]:
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)
y_train = y_train.ravel()
y_test = y_test.ravel()

In [82]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsRegressor(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)

In [83]:
y_pred

array([ 763.28,   39.36, 1002.6 ,  339.56,  891.12,   27.64,  962.52,
         72.  ,   91.8 ,  987.52,  343.  ,   94.36,  545.96, 1489.24,
        246.  ,  636.56,   46.92, 1236.28, 1041.24, 1079.96,  139.24,
       1022.84,  341.2 , 1430.24,  236.24,  368.04,  283.12, 1229.84,
        586.08,  556.16,   27.64,  605.88,  122.68,  136.32,  865.96,
         87.12,   48.88, 1474.52,  718.4 ,  639.24,  787.56, 1016.52,
        377.92,  668.6 ,   68.08,  388.04,  296.72,  665.32,  405.84,
        323.28,  759.68,  205.72,  217.44,  551.  , 1326.84, 1191.92,
        147.04,  725.32,   51.16,  515.28,  162.36,   33.72,   83.28,
       1012.56,   27.64,  145.88,  608.32,  110.88,  191.16, 1010.76,
        349.92,   27.64, 1052.28,  901.12,  304.  ,  648.68,  205.72,
       1367.16,  168.56,  596.72,  544.16,  113.44, 1191.12,   27.64,
        107.68,  443.16,  106.88,  790.64,  960.6 ,  675.12, 1008.2 ,
        267.2 ,  804.52, 1050.2 ,  353.88, 1091.36,  855.12,   80.76,
        438.44,   46.92,  372.76,  756.16,   27.64,  454.2 ,  562.76,
        226.76, 1290.2 ,  924.88, 1389.  , 1378.96,  657.32,  113.44,
        778.48, 1067.  , 1331.2 ,  107.68, 1187.92, 1247.68, 1113.04,
        871.36,  422.96])